<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatdoyouwanttodo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.ChessboardApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Menu Activities -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/activity_welcome_title"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChessboardActivity"
            android:label="@string/activity_chessboard_title"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".AbrakadabraActivity"
            android:label="@string/activity_abrakadabra_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ActiveListeningActivity"
            android:label="@string/title_activity_active_listening"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".VideoPlaylistActivity"
            android:label="@string/activity_video_view_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".TestLockActivity"
            android:label="@string/title_activity_setting_lock"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <!-- Configuration Activities -->
        <activity
            android:name=".config.GeneralSettingsActivity"
            android:label="@string/activity_general_settings_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.GridConfigActivity"
            android:label="@string/activity_grid_config_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.CellGridConfigActivity"
            android:label="@string/activity_cell_grid_config_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.AllGridViewActivity"
            android:label="@string/activity_all_grid_view_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.AbrakadabraConfigActivity"
            android:label="@string/activity_abrakadabra_config_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.ActiveListeningConfigActivity"
            android:label="@string/activity_active_listening_config_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.VideoPlaylistConfigActivity"
            android:label="@string/activity_video_view_config_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.ChessboardSelectorActivity"
            android:label="@string/activity_chessboard_selector_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.ShareSummaryActivity"
            android:label="@string/activity_share_summary_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.YoutubeSearchActivity"
            android:label="@string/activity_youtube_search_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".config.ChooseDestinationActivity"
            android:label="@string/activity_choose_destination_title"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".LongOperationActivity"
            android:label="@string/title_activity_long_operation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <!-- Library Activities -->
        <activity
            android:name="com.ipaulpro.afilechooser.launcher.VideoFileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_folder"
            android:label="@string/app_name_video_file_selector"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.launcher.AudioFileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_folder"
            android:label="@string/app_name_audio_file_selector"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.launcher.ImageFileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_folder"
            android:label="@string/app_name_image_file_selector"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.launcher.ZipFileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_folder"
            android:label="@string/app_name_zip_file_selector"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
    </application>

</manifest>